{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<div class="container-md">
  <h1 class="display-5 text-uppercase">{{ map.title }}</h1>
  <div class="row">
    <!-- Блок с изображением -->
    <div class="col-4">
      <img src="/media/{{ map.img }}" class="img-fluid rounded" alt="Фон карты '{{ map.title }}'">
      <div class="col pt-2">
        <h4 class="text-secondary">Информация:</h4>
      </div>
    </div>
    <!-- Блок описанием и статистикой -->
    <div class="col-8 mt-3">
      <div class="progress" role="progressbar" aria-label="Win rates" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{ map.mapstatsmodel.win_atk|default:25 }}%; background-color: #0672c9">ATK {{ map.mapstatsmodel.win_atk|default:25 }}%</div>
        <div class="progress-bar" style="width: {{ map.mapstatsmodel.win_def|default:75 }}%; background-color: #d8620b">DEF {{ map.mapstatsmodel.win_def|default:75 }}%</div>
      </div>
      <div class="col mt-3">
        {% if map.mapstatsmodel.description %}
        <p class="lead">{{ map.mapstatsmodel.description }}</p>
        {% else %}
        <p class="text-muted">Описание карты отсутствует.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

  <!-- Навигация по этажам -->
  <ul class="nav nav-tabs" id="floorTabs" role="tablist">
    {% for level in levels %}
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{level.name|lower}}-tab" data-bs-toggle="tab" data-bs-target="#level-{{level.name|lower}}" type="button" role="tab">{{level.label}}</button>
    </li>
    {% endfor %}

  </ul>

  <!-- Контент этажей -->
  <div class="tab-content py-4" id="floorTabsContent">
    {% for level in levels %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
         id="level-{{ level.name }}"
         role="tabpanel"
         aria-labelledby="{{ level.name }}-tab">

      {% if level.places.exists %}
      <div class="row">
        <!-- Левая миниатюра -->
        <div class="col-md-2 d-flex align-items-center">
          <a onclick="prevImage('{{ level.name }}')" style="cursor: pointer;">
          <div class="position-relative w-100">
            <img id="{{level.name}}-prev-img"
                 src="/media/{{ level.places.0.first_img.img }}"
                 class="img-fluid opacity-25">
          </div>
          </a>
        </div>

        <!-- Основное изображение -->
        <div class="col-md-8 text-center">
          <img id="{{ level.name }}-main-img"
               src="/media/{{ level.places.0.first_img.img }}"
               class="img-fluid rounded shadow-lg">
          <h4 class="mt-3">{{ level.places.0.name }}</h4>
          <p>{{ level.places.0.description }}</p>
        </div>

        <!-- Правая миниатюра -->
        <div class="col-md-2 d-flex align-items-center">
          <a onclick="nextImage('{{ level.name }}')" style="cursor: pointer;">
            <div class="position-relative w-100">
              <img id="{{level.name}}-next-img"
                   src="/media/{{ level.places.1.first_img.img }}"
                   class="img-fluid opacity-25">
            </div>
          </a>
        </div>
      </div>
      {% else %}
      <div class="alert alert-info">
        Позиции отсутствуют
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <!-- Кнопка добавления позиции -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <a class="btn btn-primary" href="/map/{{ map.title|lower }}/place/create">
      Добавить позицию
    </a>
  </div>
</div>

<script>
  const currentIndices = {
  {% for level in levels %}
  '{{level.name}}': 0,
  {% endfor %}
};

const places = [
    {% for level in levels %}
    {% for place in level.places %}
    {% if place.first_img %}
    {
      id: '{{ level.name }}',
      name: '{{ place.name }}',
      description: '{{ place.description|escapejs }}',
      img: '/media/{{ place.first_img.img }}'
    },
    {% endif %}
    {% endfor %}
    {% endfor %}
  ];

function getLevelIndex(index, delta){
  index += delta % places.length;
  if (index < 0){
    index = places.length - 1;
  } else if (index >= places.length) {
    index = index % places.length;
  }

  return index;
}

function updateFloorDisplay(levelName) {
  if (places.length === 0) return;

  const currentLevelIndex = currentIndices[levelName];
  const currentPlace = places[currentLevelIndex];

  document.getElementById(`${levelName}-main-img`).src = currentPlace.img;
  document.querySelector(`#level-${levelName} h4`).textContent = currentPlace.name;
  document.querySelector(`#level-${levelName} p`).textContent = currentPlace.description;

  document.getElementById(`${levelName}-prev-img`).src = places[getLevelIndex(currentLevelIndex, 1)].img;
  document.getElementById(`${levelName}-next-img`).src = places[getLevelIndex(currentLevelIndex, -1)].img;
}

function nextImage(levelName) {
  currentIndices[levelName] = getLevelIndex(currentIndices[levelName], 1);
  updateFloorDisplay(levelName);
}

function prevImage(levelName) {
  currentIndices[levelName] = getLevelIndex(currentIndices[levelName], -1);
  updateFloorDisplay(levelName);
}
</script>
{% endblock %}