{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="col-6 mx-auto">
  {{ form.errors }}

  <form class="form-control" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <img id="frame" class="img-fluid rounded mx-auto d-block mb-3" src="https://i.sstatic.net/y9DpT.jpg">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/upload_image_preview.js' %}"></script>
{% endblock %}
